/bin/
/external/Bullet/build/vs2015/Output/
/external/lib/
/external/RakNet/Output/
/external/zlib/contrib/vstudio/Output/
/other/
/project/ipch/
/project/output/

.vs/

*.db
*.opendb
*.idb
*.pdb
*.vcxproj.user
